In [18]:
import pandas as pd

In [19]:
df_grade = pd.read_csv("dataset-snbp-grade.csv")
df_pres = pd.read_csv("dataset-snbp-pres.csv")

In [20]:
df_grade.head

<bound method NDFrame.head of           id jenis_kelamin  usia  tahun akreditasi_sekolah  \
0      10719             L  18.0   2023                  A
1      10720             L  18.0   2023                  A
2      20081             P  19.0   2022                  A
3      20082             L  18.0   2022                  A
4      20085             L  19.0   2022                  A
...      ...           ...   ...    ...                ...
18451  10704             P  18.0   2024                  A
18452  10705             L  18.0   2024                  A
18453  10707             P  19.0   2024                  A
18454  10709             P  19.0   2024                  A
18455  10716             L  19.0   2024                  A

                          prov  kls10_sem1_Matematika  kls10_sem1_Fisika  \
0             Prov. Jawa Timur                   90.0               95.0
1        Prov. D.I. Yogyakarta                   83.0               92.0
2            Prov. Jawa Tengah                   83.0               76.0
3             Prov. Jawa Timur                   95.0               83.0
4             Prov. Jawa Timur                   80.0               81.0
...                        ...                    ...                ...
18451  Prov. Kalimantan Tengah                   77.0               78.0
18452         Prov. Jawa Barat                   95.0               82.0
18453         Prov. Jawa Timur                   88.0               92.0
18454         Prov. Jawa Timur                   88.0               75.0
18455         Prov. Jawa Timur                   78.0               78.0

       kls10_sem1_Kimia  kls10_sem1_Biologi  ...  kls11_sem2_Biologi  \
0                  93.0                86.0  ...           92.000000
1                  84.0                87.0  ...           91.000000
2                  80.0                82.0  ...           91.000000
3                  84.0                85.0  ...           91.000000
4                  90.0                84.0  ...           91.000000
...                 ...                 ...  ...                 ...
18451              78.0                75.0  ...           88.681678
18452              92.0                94.0  ...           85.000000
18453              87.0                93.0  ...           90.000000
18454              77.0                81.0  ...           90.000000
18455              81.0                77.0  ...           83.000000

       kls11_sem2_BhsIndonesia  kls11_sem2_BhsInggris  kls12_sem1_Matematika  \
0                         93.0                   94.0                   94.0
1                         87.0                   91.0                   93.0
2                         91.0                   92.0                   93.0
3                         88.0                   86.0                   99.0
4                         87.0                   91.0                   90.0
...                        ...                    ...                    ...
18451                     90.0                   78.0                   78.0
18452                     82.0                   89.0                   85.0
18453                     91.0                   90.0                   86.0
18454                     84.0                   96.0                   88.0
18455                     90.0                   85.0                   87.0

       kls12_sem1_Fisika  kls12_sem1_Kimia  kls12_sem1_Biologi  \
0              94.000000          96.00000           93.000000
1              91.000000          87.00000           92.000000
2              91.000000          88.00000           91.000000
3              88.000000          88.00000           88.000000
4              94.000000          92.00000           95.000000
...                  ...               ...                 ...
18451          90.043458          89.96153           90.202093
18452          77.000000          82.00000           91.000000
18453          85.000000          88.00000           89.000000
18454          87.000000          90.00000           91.000000
18455          92.000000          87.00000           88.000000

       kls12_sem1_BhsIndonesia  kls12_sem1_BhsInggris  status_kelulusan
0                         91.0                   95.0       Tidak Lulus
1                         93.0                   91.0             Lulus
2                         92.0                   92.0       Tidak Lulus
3                         92.0                   86.0       Tidak Lulus
4                         87.0                   91.0       Tidak Lulus
...                        ...                    ...               ...
18451                     84.0                   82.0       Tidak Lulus
18452                     84.0                   84.0       Tidak Lulus
18453                     92.0                   92.0       Tidak Lulus
18454                     88.0                   90.0       Tidak Lulus
18455                     88.0                   86.0       Tidak Lulus

[18456 rows x 37 columns]>

In [21]:
df_pres.head

<bound method NDFrame.head of           id pres1_jenjang pres2_jenjang pres3_jenjang  juara_pres1  \
0      10719      Nasional      Nasional      Nasional          NaN
1      10720      Nasional      Nasional           NaN  Medali Emas
2      20081           NaN           NaN           NaN          NaN
3      20082      Nasional           NaN           NaN          NaN
4      20085      Nasional      Nasional           NaN          NaN
...      ...           ...           ...           ...          ...
18451  10704           NaN           NaN           NaN          NaN
18452  10705           NaN           NaN           NaN          NaN
18453  10707           NaN           NaN           NaN          NaN
18454  10709           NaN           NaN           NaN          NaN
18455  10716           NaN           NaN           NaN          NaN

           juara_pres2 juara_pres3
0                  NaN         NaN
1      Medali Perunggu         NaN
2                  NaN         NaN
3                  NaN         NaN
4                  NaN         NaN
...                ...         ...
18451              NaN         NaN
18452              NaN         NaN
18453              NaN         NaN
18454              NaN         NaN
18455              NaN         NaN

[18456 rows x 7 columns]>

In [22]:
df_merged = pd.merge(df_grade, df_pres, on="id", how="inner")

In [23]:
df_merged.head()

,id,jenis_kelamin,usia,tahun,akreditasi_sekolah,prov,kls10_sem1_Matematika,kls10_sem1_Fisika,kls10_sem1_Kimia,kls10_sem1_Biologi,...,kls12_sem1_Biologi,kls12_sem1_BhsIndonesia,kls12_sem1_BhsInggris,status_kelulusan,pres1_jenjang,pres2_jenjang,pres3_jenjang,juara_pres1,juara_pres2,juara_pres3
0,10719,L,18.0,2023,A,Prov. Jawa Timur,90.0,95.0,93.0,86.0,...,93.0,91.0,95.0,Tidak Lulus,Nasional,Nasional,Nasional,NaN,NaN,NaN
1,10720,L,18.0,2023,A,Prov. D.I. Yogyakarta,83.0,92.0,84.0,87.0,...,92.0,93.0,91.0,Lulus,Nasional,Nasional,NaN,Medali Emas,Medali Perunggu,NaN
2,20081,P,19.0,2022,A,Prov. Jawa Tengah,83.0,76.0,80.0,82.0,...,91.0,92.0,92.0,Tidak Lulus,NaN,NaN,NaN,NaN,NaN,NaN
3,20082,L,18.0,2022,A,Prov. Jawa Timur,95.0,83.0,84.0,85.0,...,88.0,92.0,86.0,Tidak Lulus,Nasional,NaN,NaN,NaN,NaN,NaN
4,20085,L,19.0,2022,A,Prov. Jawa Timur,80.0,81.0,90.0,84.0,...,95.0,87.0,91.0,Tidak Lulus,Nasional,Nasional,NaN,NaN,NaN,NaN

In [24]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18456 entries, 0 to 18455
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       18456 non-null  int64
 1   jenis_kelamin            18456 non-null  object
 2   usia                     18456 non-null  float64
 3   tahun                    18456 non-null  int64
 4   akreditasi_sekolah       18456 non-null  object
 5   prov                     18456 non-null  object
 6   kls10_sem1_Matematika    18456 non-null  float64
 7   kls10_sem1_Fisika        18456 non-null  float64
 8   kls10_sem1_Kimia         18456 non-null  float64
 9   kls10_sem1_Biologi       18456 non-null  float64
 10  kls10_sem1_BhsIndonesia  18456 non-null  float64
 11  kls10_sem1_BhsInggris    18456 non-null  float64
 12  kls10_sem2_Matematika    18456 non-null  float64
 13  kls10_sem2_Fisika        18456 non-null  float64
 14  kls10_sem2_Kimia         18456 non-null  float64
 15  kls10_sem2_Biologi       18456 non-null  float64
 16  kls10_sem2_BhsIndonesia  18456 non-null  float64
 17  kls10_sem2_BhsInggris    18456 non-null  float64
 18  kls11_sem1_Matematika    18456 non-null  float64
 19  kls11_sem1_Fisika        18456 non-null  float64
 20  kls11_sem1_Kimia         18456 non-null  float64
 21  kls11_sem1_Biologi       18456 non-null  float64
 22  kls11_sem1_BhsIndonesia  18456 non-null  float64
 23  kls11_sem1_BhsInggris    18456 non-null  float64
 24  kls11_sem2_Matematika    18456 non-null  float64
 25  kls11_sem2_Fisika        18456 non-null  float64
 26  kls11_sem2_Kimia         18456 non-null  float64
 27  kls11_sem2_Biologi       18456 non-null  float64
 28  kls11_sem2_BhsIndonesia  18456 non-null  float64
 29  kls11_sem2_BhsInggris    18456 non-null  float64
 30  kls12_sem1_Matematika    18456 non-null  float64
 31  kls12_sem1_Fisika        18456 non-null  float64
 32  kls12_sem1_Kimia         18456 non-null  float64
 33  kls12_sem1_Biologi       18456 non-null  float64
 34  kls12_sem1_BhsIndonesia  18456 non-null  float64
 35  kls12_sem1_BhsInggris    18456 non-null  float64
 36  status_kelulusan         18456 non-null  object
 37  pres1_jenjang            8500 non-null   object
 38  pres2_jenjang            5943 non-null   object
 39  pres3_jenjang            4152 non-null   object
 40  juara_pres1              4183 non-null   object
 41  juara_pres2              2639 non-null   object
 42  juara_pres3              1672 non-null   object
dtypes: float64(31), int64(2), object(10)
memory usage: 6.1+ MB

In [25]:
print(df_merged.isnull().sum())

id                             0
jenis_kelamin                  0
usia                           0
tahun                          0
akreditasi_sekolah             0
prov                           0
kls10_sem1_Matematika          0
kls10_sem1_Fisika              0
kls10_sem1_Kimia               0
kls10_sem1_Biologi             0
kls10_sem1_BhsIndonesia        0
kls10_sem1_BhsInggris          0
kls10_sem2_Matematika          0
kls10_sem2_Fisika              0
kls10_sem2_Kimia               0
kls10_sem2_Biologi             0
kls10_sem2_BhsIndonesia        0
kls10_sem2_BhsInggris          0
kls11_sem1_Matematika          0
kls11_sem1_Fisika              0
kls11_sem1_Kimia               0
kls11_sem1_Biologi             0
kls11_sem1_BhsIndonesia        0
kls11_sem1_BhsInggris          0
kls11_sem2_Matematika          0
kls11_sem2_Fisika              0
kls11_sem2_Kimia               0
kls11_sem2_Biologi             0
kls11_sem2_BhsIndonesia        0
kls11_sem2_BhsInggris          0
kls12_sem1_Matematika          0
kls12_sem1_Fisika              0
kls12_sem1_Kimia               0
kls12_sem1_Biologi             0
kls12_sem1_BhsIndonesia        0
kls12_sem1_BhsInggris          0
status_kelulusan               0
pres1_jenjang               9956
pres2_jenjang              12513
pres3_jenjang              14304
juara_pres1                14273
juara_pres2                15817
juara_pres3                16784
dtype: int64

In [26]:
df_merged.describe().round(2)

,id,usia,tahun,kls10_sem1_Matematika,kls10_sem1_Fisika,kls10_sem1_Kimia,kls10_sem1_Biologi,kls10_sem1_BhsIndonesia,kls10_sem1_BhsInggris,kls10_sem2_Matematika,...,kls11_sem2_Kimia,kls11_sem2_Biologi,kls11_sem2_BhsIndonesia,kls11_sem2_BhsInggris,kls12_sem1_Matematika,kls12_sem1_Fisika,kls12_sem1_Kimia,kls12_sem1_Biologi,kls12_sem1_BhsIndonesia,kls12_sem1_BhsInggris
count,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,...,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00,18456.00
mean,15674.36,18.29,2022.97,84.75,84.24,84.60,84.28,85.05,85.28,86.46,...,88.35,88.68,89.48,89.38,91.12,90.04,89.96,90.20,91.14,90.93
std,8512.90,0.58,0.82,5.50,5.38,5.21,7.94,4.80,5.13,5.26,...,8.04,8.18,4.28,4.58,4.65,8.12,8.11,8.26,4.24,4.31
min,1.00,16.00,2022.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,8399.50,18.00,2022.00,81.00,81.00,81.00,82.00,82.00,82.00,83.00,...,86.00,87.00,87.00,87.00,89.00,88.00,88.00,88.00,89.00,89.00
50%,16083.50,18.00,2023.00,85.00,84.00,84.60,84.28,85.00,85.00,86.00,...,89.00,90.00,90.00,90.00,91.12,91.00,91.00,91.00,91.14,91.00
75%,23232.50,19.00,2024.00,88.00,88.00,88.00,88.00,88.00,89.00,90.00,...,92.00,92.00,92.00,92.00,94.00,94.00,94.00,94.00,94.00,94.00
max,29536.00,23.00,2024.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00

In [27]:
# Mapping ordinal
akreditasi_map = {"C": 1, "B": 2, "A": 3, "Belum": 0}
kelulusan_map = {"Tidak Lulus": 0, "Lulus": 1}
jenjang_map = {
    "Sekolah": 1,
    "Kabupaten": 2,
    "Provinsi": 3,
    "Nasional": 4,
    "Internasional": 5
}
juara_map = {
    "Medali Perunggu": 1,
    "Medali Perak": 2,
    "Medali Emas": 3,
    "Finalis": 0.5,
    "Harapan": 0.5
}

# Apply mapping
df_merged["akreditasi_ord"] = df_merged["akreditasi_sekolah"].map(akreditasi_map)
df_merged["status_ord"] = df_merged["status_kelulusan"].map(kelulusan_map)

for col in ["pres1_jenjang", "pres2_jenjang", "pres3_jenjang"]:
    df_merged[col + "_ord"] = df_merged[col].map(jenjang_map)

for col in ["juara_pres1", "juara_pres2", "juara_pres3"]:
    df_merged[col + "_ord"] = df_merged[col].map(juara_map)

df_merged.head()

,id,jenis_kelamin,usia,tahun,akreditasi_sekolah,prov,kls10_sem1_Matematika,kls10_sem1_Fisika,kls10_sem1_Kimia,kls10_sem1_Biologi,...,juara_pres2,juara_pres3,akreditasi_ord,status_ord,pres1_jenjang_ord,pres2_jenjang_ord,pres3_jenjang_ord,juara_pres1_ord,juara_pres2_ord,juara_pres3_ord
0,10719,L,18.0,2023,A,Prov. Jawa Timur,90.0,95.0,93.0,86.0,...,NaN,NaN,3,0,4.0,4.0,4.0,NaN,NaN,NaN
1,10720,L,18.0,2023,A,Prov. D.I. Yogyakarta,83.0,92.0,84.0,87.0,...,Medali Perunggu,NaN,3,1,4.0,4.0,NaN,3.0,1.0,NaN
2,20081,P,19.0,2022,A,Prov. Jawa Tengah,83.0,76.0,80.0,82.0,...,NaN,NaN,3,0,NaN,NaN,NaN,NaN,NaN,NaN
3,20082,L,18.0,2022,A,Prov. Jawa Timur,95.0,83.0,84.0,85.0,...,NaN,NaN,3,0,4.0,NaN,NaN,NaN,NaN,NaN
4,20085,L,19.0,2022,A,Prov. Jawa Timur,80.0,81.0,90.0,84.0,...,NaN,NaN,3,0,4.0,4.0,NaN,NaN,NaN,NaN

In [28]:
df_merged.fillna(0, inplace=True)

In [29]:
df_merged.isnull().sum()

id                         0
jenis_kelamin              0
usia                       0
tahun                      0
akreditasi_sekolah         0
prov                       0
kls10_sem1_Matematika      0
kls10_sem1_Fisika          0
kls10_sem1_Kimia           0
kls10_sem1_Biologi         0
kls10_sem1_BhsIndonesia    0
kls10_sem1_BhsInggris      0
kls10_sem2_Matematika      0
kls10_sem2_Fisika          0
kls10_sem2_Kimia           0
kls10_sem2_Biologi         0
kls10_sem2_BhsIndonesia    0
kls10_sem2_BhsInggris      0
kls11_sem1_Matematika      0
kls11_sem1_Fisika          0
kls11_sem1_Kimia           0
kls11_sem1_Biologi         0
kls11_sem1_BhsIndonesia    0
kls11_sem1_BhsInggris      0
kls11_sem2_Matematika      0
kls11_sem2_Fisika          0
kls11_sem2_Kimia           0
kls11_sem2_Biologi         0
kls11_sem2_BhsIndonesia    0
kls11_sem2_BhsInggris      0
kls12_sem1_Matematika      0
kls12_sem1_Fisika          0
kls12_sem1_Kimia           0
kls12_sem1_Biologi         0
kls12_sem1_BhsIndonesia    0
kls12_sem1_BhsInggris      0
status_kelulusan           0
pres1_jenjang              0
pres2_jenjang              0
pres3_jenjang              0
juara_pres1                0
juara_pres2                0
juara_pres3                0
akreditasi_ord             0
status_ord                 0
pres1_jenjang_ord          0
pres2_jenjang_ord          0
pres3_jenjang_ord          0
juara_pres1_ord            0
juara_pres2_ord            0
juara_pres3_ord            0
dtype: int64

In [30]:
df_merged.drop("id", axis=1, inplace=True)

In [31]:
# Drop kolom kategorikal asli, simpan versi ordinal
df_merged = df_merged.drop(columns=[
    "akreditasi_sekolah",
    "status_kelulusan",
    "pres1_jenjang", "pres2_jenjang", "pres3_jenjang",
    "juara_pres1", "juara_pres2", "juara_pres3"
])

# Cek hasil
df_merged.head()

,jenis_kelamin,usia,tahun,prov,kls10_sem1_Matematika,kls10_sem1_Fisika,kls10_sem1_Kimia,kls10_sem1_Biologi,kls10_sem1_BhsIndonesia,kls10_sem1_BhsInggris,...,kls12_sem1_BhsIndonesia,kls12_sem1_BhsInggris,akreditasi_ord,status_ord,pres1_jenjang_ord,pres2_jenjang_ord,pres3_jenjang_ord,juara_pres1_ord,juara_pres2_ord,juara_pres3_ord
0,L,18.0,2023,Prov. Jawa Timur,90.0,95.0,93.0,86.0,90.0,95.0,...,91.0,95.0,3,0,4.0,4.0,4.0,0.0,0.0,0.0
1,L,18.0,2023,Prov. D.I. Yogyakarta,83.0,92.0,84.0,87.0,85.0,90.0,...,93.0,91.0,3,1,4.0,4.0,0.0,3.0,1.0,0.0
2,P,19.0,2022,Prov. Jawa Tengah,83.0,76.0,80.0,82.0,81.0,89.0,...,92.0,92.0,3,0,0.0,0.0,0.0,0.0,0.0,0.0
3,L,18.0,2022,Prov. Jawa Timur,95.0,83.0,84.0,85.0,82.0,81.0,...,92.0,86.0,3,0,4.0,0.0,0.0,0.0,0.0,0.0
4,L,19.0,2022,Prov. Jawa Timur,80.0,81.0,90.0,84.0,80.0,80.0,...,87.0,91.0,3,0,4.0,4.0,0.0,0.0,0.0,0.0

In [32]:
df_merged.columns

Index(['jenis_kelamin', 'usia', 'tahun', 'prov', 'kls10_sem1_Matematika',
       'kls10_sem1_Fisika', 'kls10_sem1_Kimia', 'kls10_sem1_Biologi',
       'kls10_sem1_BhsIndonesia', 'kls10_sem1_BhsInggris',
       'kls10_sem2_Matematika', 'kls10_sem2_Fisika', 'kls10_sem2_Kimia',
       'kls10_sem2_Biologi', 'kls10_sem2_BhsIndonesia',
       'kls10_sem2_BhsInggris', 'kls11_sem1_Matematika', 'kls11_sem1_Fisika',
       'kls11_sem1_Kimia', 'kls11_sem1_Biologi', 'kls11_sem1_BhsIndonesia',
       'kls11_sem1_BhsInggris', 'kls11_sem2_Matematika', 'kls11_sem2_Fisika',
       'kls11_sem2_Kimia', 'kls11_sem2_Biologi', 'kls11_sem2_BhsIndonesia',
       'kls11_sem2_BhsInggris', 'kls12_sem1_Matematika', 'kls12_sem1_Fisika',
       'kls12_sem1_Kimia', 'kls12_sem1_Biologi', 'kls12_sem1_BhsIndonesia',
       'kls12_sem1_BhsInggris', 'akreditasi_ord', 'status_ord',
       'pres1_jenjang_ord', 'pres2_jenjang_ord', 'pres3_jenjang_ord',
       'juara_pres1_ord', 'juara_pres2_ord', 'juara_pres3_ord'],
      dtype='object')

In [33]:
df_encoded = pd.get_dummies(df_merged, columns=["jenis_kelamin", "prov" ])

In [34]:
df_encoded.head()

,usia,tahun,kls10_sem1_Matematika,kls10_sem1_Fisika,kls10_sem1_Kimia,kls10_sem1_Biologi,kls10_sem1_BhsIndonesia,kls10_sem1_BhsInggris,kls10_sem2_Matematika,kls10_sem2_Fisika,...,prov_Prov. Papua Tengah,prov_Prov. Riau,prov_Prov. Sulawesi Barat,prov_Prov. Sulawesi Selatan,prov_Prov. Sulawesi Tengah,prov_Prov. Sulawesi Tenggara,prov_Prov. Sulawesi Utara,prov_Prov. Sumatera Barat,prov_Prov. Sumatera Selatan,prov_Prov. Sumatera Utara
0,18.0,2023,90.0,95.0,93.0,86.0,90.0,95.0,97.0,97.0,...,False,False,False,False,False,False,False,False,False,False
1,18.0,2023,83.0,92.0,84.0,87.0,85.0,90.0,86.0,93.0,...,False,False,False,False,False,False,False,False,False,False
2,19.0,2022,83.0,76.0,80.0,82.0,81.0,89.0,86.0,81.0,...,False,False,False,False,False,False,False,False,False,False
3,18.0,2022,95.0,83.0,84.0,85.0,82.0,81.0,92.0,85.0,...,False,False,False,False,False,False,False,False,False,False
4,19.0,2022,80.0,81.0,90.0,84.0,80.0,80.0,86.0,84.0,...,False,False,False,False,False,False,False,False,False,False

## Ingat untuk drop kolom yang tadi habis mapping

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Fitur = semua kolom kecuali target
X = df_encoded.drop("status_ord", axis=1)

# Target = kolom status ordinal (0 = Tidak Lulus, 1 = Lulus)
y = df_encoded["status_ord"]

# Split data 80% train, 20% test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Scaling pakai MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [38]:
from sklearn.decomposition import PCA
import pandas as pd

# Misal lo mau ambil 10 komponen utama
pca = PCA(n_components=10)

# Fit PCA di data train yang sudah discale
X_train_pca = pca.fit_transform(X_train_scaled)

# Transform juga data test
X_test_pca = pca.transform(X_test_scaled)

# Supaya enak dibaca → ubah ke DataFrame
X_train_pca_df = pd.DataFrame(X_train_pca, columns=[f"PC{i+1}" for i in range(10)])
X_test_pca_df = pd.DataFrame(X_test_pca, columns=[f"PC{i+1}" for i in range(10)])

# Lihat hasil
print("Explained variance ratio:", pca.explained_variance_ratio_)
print("Total variance explained:", pca.explained_variance_ratio_.sum())
X_train_pca_df.head()

Explained variance ratio: [0.27762385 0.16074456 0.12071129 0.09259536 0.03844498 0.03468807
 0.03305377 0.02633698 0.02427838 0.01972447]
Total variance explained: 0.8282017119857956

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10
0,-0.722531,0.202329,0.204002,0.519950,0.123972,-0.232599,0.085328,-0.174388,-0.029950,0.576112
1,-0.682200,-0.160495,0.447942,0.506750,0.225048,-0.001854,0.076547,0.028866,0.010311,0.009846
2,-0.682194,-0.161432,0.449056,0.507479,0.206988,-0.003838,0.073111,0.026707,0.009826,0.009315
3,-0.607076,0.258673,-1.079752,-0.356806,0.129433,0.087362,-0.133410,0.231258,-0.144085,0.514129
4,0.676623,0.074232,0.537827,-0.545337,-0.012285,-0.043682,0.010935,0.070487,0.020743,0.007402